
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model CreateViewModel

<h1>Create</h1>

<form asp-action="Create">
    <input type="text" asp-for="Name" class="form-group form-control" />
    <span class="text-danger" asp-validation-for="Name"></span>
    <button id="btnCreate" type="submit">Submit</button>

</form>
